<%- include('partials/header') -%>

<h1 class="logoName text-center">Login</h1>





<div class="container border border-primary rounded">
<form action="/login" method="post">
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label>Didn't have an account?<a href="/signup">Create an Account</a></label>
    <button type="submit" class="btn btn-sm btn-primary">Login</button>
</form>
</div>


<%- include('partials/footer') -%>